$bgColor: #FFFFFF; // body背景颜色 
$fontColor: #010101; // body字体颜色
$htmlFontSize: 16px; // html font-size

$headerHeight: 70px; // 头部高度
$headerBackground:#48455a; // 头部背景

$siderBarWidth: 240px; // 左侧滚动条宽度
$siderBarBackground: #353652; // 左侧菜单栏背景
